$pf-global--enable-reset: 'true';
@import '~@patternfly/patternfly/patternfly.css';

.pf-c-page__header-brand-link img {
    max-width: 80px;
}

.ct-c-logout > * {
    display: inline;
    margin-right: var(--pf-global--spacer--xs);
}

.ct-c-main--info > * {
    &:first { margin: var(--pf-global--spacer--xl); }
    max-width: 500px;
    text-align: center;
}

#root {
    height: 100%;
}

.pf-c-tab-content > div { padding: var(--pf-global--spacer--md); }

.ctc-c-repositories .pf-c-card { min-height: 150px; }

.pf-c-tabs .ctc-c-loading .pf-c-tabs__item-text { min-width: 150px; }
